/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, topnav, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, topnav, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: white;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Top Navigation Style */
.topnav {
  overflow: hidden;
  background-color: #ffdda6;
}

.searchbar {
  float: left;
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Bodoni MT;
  font-size: 30px;
}

.topnav a.searchtext {
  float: left;
  display: block;
  background-color: #f7a960;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.text {
  float: right;
  display: block;
  background-color: #f7a960;
  color: black;
  text-align: center;
  padding: 10px 16px;
  margin: 10px;
  text-decoration: none;
  font-size: 30px;
}

.topnav a img {
  float: left;
  display: block;
  padding: 10px 16px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: black;
}

.topnav input[type=text] {
  float: left;
  padding: 8px;
  border: none;
  margin-right: 2px;
  margin-left: 2px;
  font-size: 17px;
}

/* Scroll Menus */

.title {
	font-family: Bodoni MT;
	font-size: 30px;
}

.scrollmenu {
  background-color: #ffdda6;
  overflow: auto;
  white-space: nowrap;
  
  font-family: Bodoni MT;
  font-size: 30px;
}
  
.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.scrollmenu a img {
  display: block;
}
  
.scrollmenu a:hover {
  background-color: #f7a960;
}

.recommended {
  display: flex;
      
}

.recommended h2.title{
  display: flex;
  align-items:center;
  justify-content:center;
  padding: 10px;
  color: #000;
  background-color: #ffdda6;
  text-decoration: none;
  font-size: x-large;
  font-family: Bodoni MT;
  font-size: 30px;
}

/* When the screen is less than 800px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 800px) {
.topnav a.searchtext, .topnav a img, .topnav a.text {
  float: none;
  display: block;
  text-align: left;
  width: auto;
  margin: 0;
  padding: 14px;
}
.topnav input[type=text] {
  float: none;
  display: block;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 14px;
  border: 1px solid #ccc;
}

.searchbar {
  float: none;
  margin: 0;
  font-family: Bodoni MT;
  font-size: 30px;
}
}

/* Accordion Menu */
.accordion {
  background-color: #f7a960;
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-family: Bodoni MT;
  font-size: 30px;
}

.active, .accordion:hover {
  background-color: #ddd;
}

.panel {
  padding: 0 18px;
  background-color: #ddd;
  display:none;
  overflow: hidden;
}

/* Sign In, Log In */
.signin, .login {
  background: #ffdda6;
}

.signin input[type=text], .login input[type=text], input[type=password] {
  width: 400px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: block;
  border: none;
  background: #f1f1f1;
}

.signin input[type=text]:focus, .login input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f5f5f5;
  margin-bottom: 25px;
}

button {
  background-color: #f7a960;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 200px;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.container {
  padding: 16px;
  background: #ffdda6;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for login button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .signupbtn {
    width: 100%;
  }
}

.row {
  background: #ffdda6;
}

label {
  margin-bottom: 10px;
  display: block;
}

.row input[type=text], .row input[type=password] {
  width: 400px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: block;
  border: none;
  background: #f1f1f1;
}

.row input[type=text]:focus, .row input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.btn {
  background-color: #f7a960;
  color: black;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 200px;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

span.price {
  float: right;
  color: grey;
}

.applied-filters, .filters {
  background-color: #f7a960;
}

ul.applied-filters, ul.filters {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.applied-filters li, ul.filters li {
  border: 1px solid #ffdda6;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f7a960;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: none;
  position: relative;
}

ul.filters li{
  display: block;
}

ul.applied-filters li:hover, ul.filters li:hover {
  background-color: #ddd;
}

.close, .add {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}

.close:hover, .add:hover {background: #bbb;}

/* Side Navigation Style */

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #ffdda6;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px;
  /* Same as the width of the sidenav */
  font-size: 28px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
      padding-top: 15px;
  }

  .sidenav a {
      font-size: 18px;
  }
}

/* End of Side Navigation Style */

/* Content of chapter text Style */

.text-content {
  height: 100%;
  width: 83%;
  position: fixed;
  right: 0;
  background-color: #f5f5f5;
  padding-top: 20px;
}

/* End of Content of chapter text Style */